<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGE</title>
</head>

<body>

    <app-nav></app-nav>

    <div class="evento" *ngFor="let e of listaEventos">
        <div class=".col-md-4 imagen">
            <img class="imgEvento" alt="img-evento"
                src="{{e.foto}}">
        </div>
        <div class=".col-md-4 texto">
            <h1>{{e.titulo}}</h1>
            <small>Fecha: {{e.fecha | date:'short'}}</small>
            <p>{{e.descripcion}}</p>
        </div>
        <div *ngIf="servicioUsuario.isLogueado" class=".col-md-4 botones">
            
            <!-- <div [ngSwitch]="e.estadoUsuario">
                <a *NgSwitchCase="ACEPTADO" type="button" class="btn btn-danger">Aceptado</a>
                <a *NgSwitchCase="LISTA_DE_ESPERA" type="button" class="btn btn-danger">Lista de espera</a>
                <a *NgSwitchDefault type="button" class="btn btn-danger">No inscrito</a>
            </div> -->
        </div>
    </div>
    <app-footer></app-footer>

</body>

</html>