.imagen{
    margin-left: 50px;
    width: 22%;
    float: left;
    max-height: 235px;
}
.texto{
    width: 71%;
    float: right;
    max-height: 235px;
    overflow: auto;
    background: #C3C9CF;
}
.imgEvento{
    width: 100%;
}
.evento{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

