.imagen{
    width: 28%;
    float: left;
}
.texto{
    width: 71%;
    float: right;
    height: 235px;
    overflow: auto;
    background: #C3C9CF;
}
.imgEvento{
    width: 100%;
}
.evento{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

