.imagen{
    margin-left: 15px;
    width: 22%;
    float: left;
    max-height: 235px;
}
.texto{
    width: 60%;
    float: left;
    margin-left: 15px;
    max-height: 235px;
    overflow: auto;
    background: #C3C9CF;
}

.botones{
    float:left;
    margin-left: 15px;
}
.imgEvento{
    width: 100%;
}
.evento{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

