<nav class="navbar navbar-dark bg-dark navbar-fixed-top">

    <div>
        <img id="logo" alt="logo" class="mr-3" src="http://imgfz.com/i/VKDOJvy.png" style="width: 80px;">
        <a href="${pageContext.request.contextPath}" class="btn btn-secondary active" role="button"
            aria-pressed="true">Inicio</a>

        <a href="<s:url value='/evento/crea' />" class="btn btn-secondary" role="button" aria-pressed="true"
            style="display:none"> Crear
            Evento</a>

        <a href="<s:url value='/evento/crea' />" class="btn btn-secondary" role="button" aria-pressed="true"
            style="display:none"> Mis Eventos</a>
    </div>

    <div>
        <a href="<s:url value='/usuario/login'/>" class="btn btn-outline-light" role="button"
            aria-pressed="true">Iniciar
            sesión</a>
    </div>

</nav>