<nav class="navbar navbar-dark bg-dark navbar-fixed-top">

    <div>
        <img id="logo" alt="logo" class="mr-3" src="http://imgfz.com/i/VKDOJvy.png" style="width: 80px;">
        <a  class="btn btn-secondary active" role="button"
            aria-pressed="false" (click)="redireccion('/')">Inicio</a>        

        <a  class="btn btn-secondary" role="button" aria-pressed="true"
            style="display:none" (click)="redireccion('crearEvento')"> Crear
            Evento</a>

        <a  class="btn btn-secondary" role="button" aria-pressed="true"
            style="display:none"> Mis Eventos</a>
    </div>

    <div>
        <a  class="btn btn-outline-light" role="button" style="color: white;" aria-pressed="false"
             (click)="redireccion('login')">Iniciar
            sesión</a>
    </div>

</nav>